PORT=5000

JWT_SECRET=replace_with_secure_jwt_secret

MONGO_URI=mongodb://localhost:27017/


USER1_EMAIL=user1@example.com
USER1_PASSWORD=replace_user1_password
USER2_EMAIL=user2@example.com
USER2_PASSWORD=replace_user2_password

CLOUDINARY_CLOUD_NAME=replace_cloud_name
CLOUDINARY_API_KEY=replace_api_key
CLOUDINARY_API_SECRET=replace_api_secret